[Unit]
Description=gunicorn daemon for message_relay_api
After=network.target

[Service]
User=nginx
Group=nginx
UMask=0007
WorkingDirectory=/srv/message_relay_api
ExecStart=/srv/message_relay_api/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/srv/message_relay_api/message_relay.sock \
          --umask 0000 \
          pgp_message.wsgi:application

[Install]
WantedBy=multi-user.target
