# /etc/systemd/system/remotelocker_gunicorn.service
[Unit]
Description=gunicorn daemon for RemoteLocker API
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/root/remotelocker_api
ExecStart=/root/remotelocker_api/venv/bin/gunicorn --access-logfile - --error-logfile - --workers 3 --bind unix:/root/remotelocker_api/remotelocker.sock RemoteLocker.wsgi:application
Environment="DJANGO_SECRET_KEY=cignoh-roDre6-dumbet-cignoh-roDre6-dumbet"
Environment="DJANGO_DEBUG=False"

[Install]
WantedBy=multi-user.target